*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:#444444;
}
a:hover{
	color:#00FFCC;
}
.whole{
	width:1000px;
	height:2035px;
	text-align: center;
	margin:0 auto;
	background-color: #FFFAFA;
}
.top{
	width:700px;
	height:50px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.logo{
	float:left;
	width:100px;
	height:50px;
	line-height: 50px;
	text-align:center;
}
.logo img{
	display: block;
	width:100px;
	height:50px;
	background-image: url(02.jpg_slices);
}
.nav{
	width:400px;
	height:50px;
	float:left;
	text-align: center;
	overflow: hidden;
}
.nav li{
	display: inline-block;
	list-style-type: none;
	height:10px;
	text-align: center;
	font-size:12px;
	font-weight:400; 
	margin-top: 25px;
}#white{
	float:left;
}
#pink{
	float:right;
}
.nav li>a{
	text-decoration:none;
	color:black;
	display: block;
	padding:0 5px;
}
.nav li:hover{
	border-bottom-width: 27px;
	padding-bottom: 10px;
	border-bottom:2px solid #00A4FF;
}
.nav li>a:hover{
	color:#00FFCC;
}
.top-right{
	float:right;
	overflow: hidden;
}
.left{
	float:right;
	display: inline-block;
	margin-top: 25px;
	font-size: 9px;
}
.right{
	float:right;
	margin-top: 20px;
	overflow: hidden;
}
.search{
	float:left;
	width:100px;
	font-size: 7px;
	padding-top:7px;
	padding-bottom:6px;
	padding-left:10px;
	border:1px solid #808080;
}
.submit{
	float:left;
	width:24px;
	height:25px;
	padding-left:5px;
	padding-right: 5px;
	padding-top:5px;
	padding-bottom: 5px;
	border:1px solid #008080;
	background:#008080 url(search.png) no-repeat center center;
	background-size:10px 10px;
}
.middle{
	width:1000px;
	height:350px;
	margin-top: 10px;
	background-color: #CCDDFF;
}
.banner{
	width:700px;
	height:350px;
	margin:0 auto;
	overflow: hidden;
}
.tip{
	position: absolute;
}
.tip img{
	display: block;
	width:700px;
	height:350px;
}
.log{
	float:right;
	position: relative;
	margin-top: 100px;
	margin-right: 20px;
}
.search1{
	width:200px;
	height:20px;
	font-size: 7px;
	padding-top:7px;
	padding-bottom:6px;
	padding-left:10px;
	margin-top:10px;
	border:1px solid #808080;
}
.button{
	width:80px;
	margin-top: 10px;
}
.wenzi{
	width:700px;
	height:50px;
	margin:0 auto;
	text-align: center;
	overflow: hidden;
}
.first{
	float:left;
	width:200px;
	height:20px;
	font-size:10px;
	font-weight:400;
	margin-top: 18px;
	color:rgba(73,73,73,1);
}
.first span{
	float:left;
	font-size: 15px;
	color:#00FFFF;
}
.first p{
	float:left;
	font-size: 12px;
	color:rgba(165,165,165,1);
}
.last{
	float:right;
	width:30px;
	height:10px;
	font-size:8px;
	margin-top: 20px;
	margin-right: 15px;
	border-bottom: 5px solid #ccc;
}
.list{
	width:1000px;
	height:330px;
	margin-top: 5px;
	background-color: #DDDDDD;
}
.main{
	width:700px;
	height:280px;
	margin:0 auto;
	text-align: center;
	overflow: hidden;
}
.main img{
	display: block;
	width:220px;
	height:280px;
}
.main1{
	float:left;
	margin-top: 40px;
}
.main1:hover .group{
	background-color: #CCCCFF;
} 
.main2{
	float:left;
	margin-left: 20px;
	margin-top: 40px;
}
.main2:hover .group{
	background-color: #FFB3FF ;
} 
.main3{
	float:right;
	margin-top: 40px;
}
.main3:hover .group{
	background-color: #BA55D3 ;
}
.group{
	width:220px;
	height:50px;
	background-color: white;
	line-height: 50px;
	margin-top: -80px;
	position: absolute;
	overflow: hidden;
}
.group>a{
	display: inline-block;
	width:220px;
	height:50px;
}
.group>a .tag{
	margin-left: 20px;
	float:left;
}
.group>a>span{
	margin-right: 20px;
	float:right;
}
.shop{
	width:700px;
	height:300px;
	margin:0 auto;
}
.shop img{
	display: block;
	width:700px;
	height:300px;
}
.tab img{
	display: block;
	width:300px;
	height:180px;
}
.tab{
	float:left;
	margin-top: -250px;
	margin-left: 50px;
	position: absolute;
}
.tab p{
	width:100px;
	height:25px;
	line-height: 25px;
	font-size: 15px;
	margin-left: 100px;
	border: 2px solid #8B4513 ;
}
.tab p>a{
	color:#DC143C;
}
.column{
	width:1000px;
	height:620px;
	background-color: #DDDDDD;
}
.menu{
	width:700px;
	height:620px;
	margin:0 auto;
	text-align: center;
	overflow: hidden;
}
.tab1{
	margin-left: 20px;
	float:left;
}
.tab2{
	float:left;
}
.tab1 img{
	display: block;
	margin-top: 20px;
	width:220px;
	height:280px;
}
.tab2 img{
	display: block;
	margin-top: 20px;
	width:220px;
	height:280px;
}
.group1{
	width:220px;
	height:80px;
	margin-top: -80px;
	color: white;
	text-align:center;
	background: rgba(0,0,0,0.5);
	position: absolute;
}
.group1>span{
	display: inline-block;
	margin-top: 5px;
	font-weight: bold;
	font-size: 16px;
}
.red{
	margin-top: 5px;
	margin-left:8px;
	font-size: 14px;
	text-align: left;
}
.group2{
	width:50px;
	height:50px;
	line-height: 40px;
	margin-top: -280px;
	background-color: #E6E6FA ;
	position: absolute;
}
.group2 p{
	width:15px;
	height:15px;
	margin-left: 5px;
	color:#FF4500;
}
.bottom{
	width:1000px;
	height:200px;
	margin-top: 20px;
	background-color: #20B2AA;
}
.footer{
	width:700px;
	height:200px;
	margin:0 auto;
	text-align: center;
}
.footer1{
	overflow: hidden;
}
.footer1 li{
	display: inline-block;
	list-style-type: none;
	font-size: 12px;
	margin-top: 50px;
	margin-right: 20px;
	text-align: center;
	border-left: 2px solid #C0C0C0;
	padding-left: 20px;
	margin-bottom: 20px;
}
.footer1 .tag3{
	float:left;
	margin-right: -40px;
	padding-left: 0;
	border: none;
}
.footer1 li>a{
	color:white;
}
.footer1 li>a:hover{
	color:#CD853F;
}
.blue{
	width: 700px;
	font-size: 12px;
	margin-top: 20px;
	color: white;
	overflow: hidden;
}
.blue p{
	width:700px;
	text-align: center;
	float:left;
}
.blue .bottom-left{
	float:left;
}
.blue>p>span{
	display: inline-block;
	float:right;
}


	